[submodule "my-100-python-challenging-programming-exercises"]
	path = my-100-python-challenging-programming-exercises
	url = https://github.com/Thiswind-Learning/my-100-python-challenging-programming-exercises.git
